extends layout

block content
  include navbar
  div(class='container')
    h1(class='text-light')
      b S. I. B. Departamental La Paz
    div(id='carouselBasic'
      class='carousel slide carousel-fade'
      data-mdb-ride='carousel')
    
      ol(class='carousel-indicators')
        li(data-mdb-target='#carouselBasic' data-mdb-slide-to='0' class='active')
        li(data-mdb-target='#carouselBasic' data-mdb-slide-to='1')
        li(data-mdb-target='#carouselBasic' data-mdb-slide-to='2')

      div(class='carousel-inner')
        div(class='carousel-item active')
          img(src='images/Ima1.png'
            class='d-block w-100'
            alt='Imagen 1')
          div(class='carousel-caption d-none d-md-block')
            h5(First slide label)
            p Nulla vitae elit libero, a pharetra augue mollis interdum.

        div(class='carousel-item')
          img(src='images/Ima2.svg'
            class='d-block w-100'
            alt='Imagen 2')
            
          div(class='carousel-caption d-none d-md-block')
            h5 Second slide label
            p Lorem ipsum dolor sit amet, consectetur adipiscing elit

        div(class='carousel-item')
          img(src='images/Ima3.svg'
            class='d-block w-100'
            alt='Imagen 3')
          div(class='carousel-caption d-none d-md-block')
            h5 Third slide label
            p Praesent commodo cursus magna, vel scelerisque nisl consectetur.

      a(class='carousel-control-prev'
        href='#carouselBasic'
        role='button'
        data-mdb-slide='prev')

        span(class='carousel-control-prev-icon' aria-hidden='true')
        span(class='visually-hidden') Previous

      a(class='carousel-control-next'
        href='#carouselBasic'
        role='button'
        data-mdb-slide='next')
        span(class='carousel-control-next-icon' aria-hidden='true')
        span(class='visually-hidden') Next
    br
    h2 articulos
    br
    div(class="row row-cols-1 row-cols-md-3 g-4")
      div(class="col")
        div(class="card")
          img(src="images/Ima1.png"
            class="card-img-top"
            alt="...")
          
          div(class="card-body")
            h5(class="card-title") Card title
            p(class="card-text") This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.
      

      div(class="col")
        div(class="card")
          img(src="images/Ima1.png"
            class="card-img-top"
            alt="...")
          
          div(class="card-body")
            h5(class="card-title") Card title
            p(class="card-text") This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.

      div(class="col")
        div(class="card")
          img(src="images/Ima1.png"
            class="card-img-top"
            alt="...")

          div(class="card-body")
            h5(class="card-title") Card title
            p(class="card-text") This is a longer card with supporting text below as a natural lead-in to additional content.

      div(class="col")
        div(class="card")
          img(src="images/Ima1.png"
            class="card-img-top"
            alt="...")

          div(class="card-body")
            h5(class="card-title") Card title
            p(class="card-text") This is a longer card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.



























