doctype html
html(lang='es')
  head
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(http-equiv='x-ua-compatible' content='ie-edge')
    title=title
    link(rel='icon' type='image/svg+xml' href='images/favicon.svg')
    link(rel='stylesheet' href='stylesheets/all.min.css')
    link(rel='stylesheet' href='stylesheets/bootstrap.min.css')
    link(rel='stylesheet' href='stylesheets/mdb.min.css')
    link(rel='stylesheet' href='stylesheets/style.css')

  body
    block content
    script(type='text/javascript' src='javascripts/bootstrap.bundle.min.js')
    script(type='text/javascript' src='javascripts/mdb.min.js')


