nav(class='navbar navbar-expand-sm navbar-dark' style="background-color: #1B5E20")
    div(class='container-fluid')
      a(class='navbar-brand' href='/')
        img(src="images/logo.png"
        height="30"
        alt=""
        loading="lazy")
        
      button(class='navbar-toggler' type='button' data-mdb-toggle='collapse'
        data-mdb-target='#navbarSupportedContent' aria-controls='navbarSupportedContent'
        aria-expanded='false' aria-label='Toggle navigation')
        i(class='fas fa-bars')

      div(class='collapse navbar-collapse' id='navbarSupportedContent')
        ul(class='navbar-nav me-auto mb-2 mb-lg-0')
          li(class='nav-item')
            a(class='nav-link active' aria-current='page' href='/') Inicio
          li(class='nav-item dropdown')
            a(class='nav-link dropdown-toggle'
              href='#'
              id='navbarDropdown'
              role='button'
              data-mdb-toggle='dropdown'
              aria-expanded='false') Sobre nosotros
            ul(class='dropdown-menu' aria-labelledby='navbarDropdown')
              li
                a(class='dropdown-item' href='#') Vision
              li
                a(class='dropdown-item' href='#') Mision
              li
                a(class='dropdown-item' href='#') Nosotros
              li
                hr(class='dropdown-divider')
              li
                a(class='dropdown-item' href='#') Informacion
          li(class='nav-item dropdown')
            a(class='nav-link dropdown-toggle'
              href='#'
              id='navbarDropdown'
              role='button'
              data-mdb-toggle='dropdown'
              aria-expanded='false') Contacto
            ul(class='dropdown-menu' aria-labelledby='navbarDropdown')
              li
                a(class='dropdown-item' href='#') Contacto
              li
                a(class='dropdown-item' href='#') Direccion

        ul(class="navbar-nav d-flex flex-row")
          li(class="nav-item me-3 me-lg-0 dropdown")
            a(class="nav-link dropdown-toggle"
              href="#"
              id="navbarDropdown"
              role="button"
              data-mdb-toggle="dropdown"
              aria-expanded="false")
              i(class="fas fa-user")

            ul(class="dropdown-menu dropdown-menu-sm-end" aria-labelledby="navbarDropdown")
              li
                a(class="dropdown-item" href="#") Login
              li
                a(class="dropdown-item" href="#") Registrarse
              li
                hr(class="dropdown-divider")
              li
                a(class="dropdown-item" href="#") Salir
